@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 256px;
    text-align: center;
    border: 10px solid #101116;
    background: #101116;
    border-radius: 5px;

}


.keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(60px, auto);
}

input[type="text"] {
    height: 75px;
    width: 240px;
    background-color: #10111600;
    border: 0px;
    color: #ffffff;
}